*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

a:hover,
a{
    text-decoration: none;
    
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family:'Oswald', sans-serif;
}
p{
  padding: 0;
  margin: 0;
}

#header-navbar .navbar-brand img {
    height: 30px;
    width: 30px;
}


/* Banner Part Css Start */
#banner{
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



/* Banner Part Css End */